/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include "keycode_japanese.h"

#define DEFAULT 0
#define NUMBERS 1
#define NAV 2
#define SYMBOLS 3
#define MOUSE 4

/ {
	keymap {
		compatible = "zmk,keymap";
		default_layer {
			bindings = <
				&kp JP_EISU	&kp Q		&kp W		&kp E		&kp R		&kp T				&kp A &kp B &kp C &kp D &kp E &kp F
				&kp CAPS	&kp A		&kp S		&kp D		&kp F		&kp G				&kp G &kp H &kp I &kp J &kp K &kp L
				&kp LSHFT	&kp Z		&kp X		&kp C		&kp V		&kp B				&kp M &kp N &kp O &kp P &kp Q &kp R
				&kp LCTRL	&none		&none		&kp LALT	&lt 2 SPACE	&lt 1 SPACE			&kp S &kp T &kp U &kp V &kp W &kp X
			>;
		};
		layer1 {
			bindings = <
				&kp ESC		&kp N1		&kp N2		&kp N3		&kp N4		&kp N5				&kp A &kp B &kp C &kp D &kp E &kp F
				&kp TAB		&kp N6		&kp N7		&kp N8		&kp N9		&kp N0				&kp G &kp H &kp I &kp J &kp K &kp L
				&trans		&kp F11		&kp F12		&kp JP_HENK	&kp PSCRN	&kp LALT			&kp M &kp N &kp O &kp P &kp Q &kp R
				&trans		&trans		&trans		&trans		&trans		&trans				&kp S &kp T &kp U &kp V &kp W &kp X
			>;
		};
		layer2 {
			bindings = <
				&trans		&kp LS(N1)	&kp LS(N2)	&kp LS(N3)	&kp LS(N4)	&kp LS(N5)			&kp A &kp B &kp C &kp D &kp E &kp F
				&kp LS(TAB)	&kp F1		&kp F2		&kp F3		&kp F4		&kp F5				&kp G &kp H &kp I &kp J &kp K &kp L
				&trans		&kp F6		&kp F7		&kp F8		&kp F9		&kp F10				&kp M &kp N &kp O &kp P &kp Q &kp R
				&trans		&trans		&trans		&trans		&trans		&trans				&kp S &kp T &kp U &kp V &kp W &kp X
			>;
		};
/*
		default_layer {
			bindings = <
				&kp JP_EISU	&kp Q		&kp W		&kp E		&kp R		&kp T				&kp A &kp B &kp C &kp D &kp E &kp F
				&kp CAPS	&kp A		&kp S		&kp D		&kp F		&kp G				&kp G &kp H &kp I &kp J &kp K &kp L
				&kp LSHFT	&kp Z		&kp X		&kp C		&kp V		&kp B				&kp M &kp N &kp O &kp P &kp Q &kp R
				&kp LCTRL	&none		&none		&kp LALT	&lt 2 SPACE	&lt 1 SPACE			&kp S &kp T &kp U &kp V &kp W &kp X
			>;
		};
		layer1 {
			bindings = <
				&kp ESC		&kp N1		&kp N2		&kp N3		&kp N4		&kp N5					&kp N6		&kp N7		&kp UP		&kp N8		&kp N9			&kp N0		&kp DEL 
				&kp TAB		&kp F1		&kp F2		&kp F3		&kp F4		&kp F5					&kp CAPS	&kp LEFT	&kp DOWN	&kp RIGHT	&kp JP_COLON		&kp RS(ENTER)
				&trans		&kp F6		&kp X   	&kp C		&kp PSCRN	&kp LALT		&kp F2		&kp CARET	&kp JP_AT	&kp LBKT	&kp RBKT	&kp JP_SLASH		&trans
				&trans						&trans		&trans		&trans			&trans		&trans		&trans
			>;
		};
		layer2 {
			bindings = <
				&trans		&kp LS(N1)	&kp LS(N2)	&kp LS(N3)	&kp LS(N4)	&kp LS(N5)				&kp LS(N6)	&kp LS(N7)	&kp UP		&kp LS(N8)	&kp LS(N9)		&kp LS(N0)	&kp DEL
				&trans		&kp F7		&kp F8		&kp F9		&kp F10		&kp F11					&trans		&kp LEFT	&kp DOWN	&kp RIGHT	&trans			&kp LA(ENTER)
				&trans		&kp F12		&trans		&trans		&trans		&trans			&kp F2		&kp LS(CARET)	&kp LS(JP_AT)	&kp LS(LBKT)	&kp LS(RBKT)	&kp LS(JP_SLASH)	&trans
				&trans						&trans		&trans		&trans			&trans		&trans		&trans
			>;
		};
*/
	};
};
